<header class="header-menu">
  <h2 class="secao-titulo">Relatórios</h2>
</header>

<section class="secao-main">
  <form class="filtro-relatorio" novalidate >
    <label for="">Relatório: </label>
    <select name="" id="">
      <option value="">Selecione</option>
    </select>

    <label for="">Tipo: </label>
    <select name="" id="">
      <option value="">Selecione</option>
    </select>

    <button class="btn-gerar-relatorio btn-branco">Gerar</button>
  </form>

  <section class="relatorio-gerado">
    <h2>Selecione alguma opção para gerar o relatório</h2>
  </section>  
</section>